:root {
  --red: #dc3545;
}
/* !NAVBAR */

.navbar .navbar-nav {
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
}

.navbar .nav-link:hover {
  color: var(--red);
}
.navbar .nav-link {
  transition: color 0.7s;
}
/*! carosel */

.carousel-item {
  max-height: calc(100vh - 88px);
}

.carousel-caption h5 {
  color: var(--red);
  font-size: 2.4rem;
  text-shadow: 3px 3px 3px black;
}
.carousel-caption p {
  text-shadow: 3px 3px 3px black;
  font-weight: 600;
}
.carousel-caption .btn {
  width: 7rem;
}
.carousel-caption {
  bottom: 5rem !important ;
}
.carousel-indicators {
  gap: 0.7rem;
}
.carousel-indicators button {
  background-color: var(--red) !important;
  opacity: 1;
  height: 0.4rem !important;
  width: 3rem !important;
}
